<header>
    <div class="container">
     

      <div class="left-content">
        <img src="../../assets/ampleLogic.png" alt="AmpleLogic Logo" class="logo">
        <div class="tabs-wrapper">
          <div class="tab">
              <!-- <img src="../../assets/image1.png" alt=""> -->
              <mat-icon>perm_identity</mat-icon>
              <p>
                  Organization Structure
              </p>
          </div>
          <div class="tab">
              <!-- <img src="../../assets/image1.png" alt=""> -->
              <mat-icon>inbox</mat-icon>
              <p>
                  Configurations
              </p>
          </div>
          <div class="tab">
              <!-- <img src="../../assets/image1.png" alt=""> -->
              <mat-icon>file_copy</mat-icon>
              <p>
                  Reports
              </p>
          </div>
          <div class="tab">
              <!-- <img src="../../assets/image1.png" alt=""> -->
              <mat-icon>settings</mat-icon>
              <p>
                  ETL
              </p>
          </div>
  
        </div>
      </div>


      <div class="right-content">
        <div class="rightSubElement">
            <!-- <img src="../../assets/image1.png" alt=""> -->
            <!-- <mat-icon>person_outline</mat-icon> -->

            <div class="flag-wrapper">
                    <img src="../../assets/usFlag.png" alt="">
            </div>


        </div>
        <div class="rightSubElement">
            <!-- <img src="../../assets/image1.png" alt=""> -->
            <mat-icon>notifications_none</mat-icon>
        </div>
        <div class="rightSubElement">
            <div class="propic-wrapper">
                <!-- <mat-icon>person_outline</mat-icon> -->
                <img src="../../assets/proPic.png" alt="">

            </div>
        </div>
      </div>
    </div>
  </header>